 body
            {
                background-color:#FFFFFA;
            }
h1{
        font-family: 'Tangerine', serif;
        font-size: 180px;
        font-weight: bold;
        letter-spacing:-1px;
        line-height: 1;
        text-shadow: #D9D9D9 6px 3px 0;
        position: relative;
        text-align:center;
        }
h2{
        font-family: sans-serif;
        font-size: 20px;
}

h3{
     font-family: 'Dekko';
     font-size: 35px;
     font-weight: normal; 
    letter-spacing:0px;
     position: relative;
     text-align:center;
}
img{
                 display:block;
                 margin:0 auto;
                 width:700px;
                 border-radius: 20px;
                 image-resolution: 600dpi; 
            }
 p.caption {
                 font-family:fantasy;
                 text-align:center;  
                 font-size:20px;
    }
div{
    font-family: serif;
    font-size:18px;
    
    
}
.col1{
     
     float:left;
    max-width: 50%;
    max-height: 100%;
    display: flex;
    
}
.col2{
     
     float:right;
    max-width: 50%;
    max-height: 100%;
    display: flex;
    
}
.col3{
    text-align: center;
    font-family:cursive;
    font-size: 15px;
     letter-spacing:0px;
    line-height:2;
    
   
}
